.ai{
    min-height: 0;
}
.new-chat{
    background-color: #3C82F3;
    border: none;
    border-radius: .5rem;
}
.chat-sidebar{
    background-color: #0C111E;
    width: 21rem;
    border-right: 2px solid #1D2435;
    overflow-y: auto;
    min-height: 0;
}
.toggle-panel{
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    transition: background-color 0.2s;
}
.toggle-panel:hover{
    background-color: #10B77F;
}
.toggle-panel-icon{
    font-size: 1.2rem;
    color: #758884;
    font-variation-settings:
  'FILL' 0,
  'wght' 300, 
  'GRAD' 0,
  'opsz' 32 !important
}
.search{
    background-color: #080C16;
    width: 88%;
    border: 2px solid #121825;
    outline: none;
}
.search:focus-within{
    outline: #3C83F6 solid 2px;  
}
.search-bar{
    background-color: transparent !important;
    color: #758884 !important;
    border: none !important;
    outline: none;
}
.search-bar:focus{
    box-shadow: none !important;
}
.search-bar::placeholder{
    color: #758884 !important
}
.recent{
    color: #758884 !important;
    font-size: .8rem
}
.no-chats{
    color: #758884 !important;
    font-size: 0.75rem;
}
nav{
    background-color: #0C111E;
    border-bottom: 2px solid #1D2435; 
}
.ai-icon{
    color: #3C83F6 !important;
}
.dropdown-menu{
    background-color: #0C111E !important;
}
.dropdown-item{
    color: white !important;
    border-radius: .4rem !important;
    text-align: center !important;
    padding: 0.3rem 2rem !important;
}
.dropdown-item:hover{
    background-color: #10B77F !important; 
    color: black !important;
}
.agent-icon-bg{
    background-color: transparent;
    background-image: linear-gradient(to bottom right, rgb(60, 130, 243), rgba(60, 131, 246, 0.6));
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    margin-top: 6rem;
}
.agent-icon{
    font-size: 2rem !important;
    font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24 !important;
}
.agent-subtext{
    color: #758884 !important;
    width: 40%;
}
.chat-bg{
    background-color: #0A0F1A;
    height: 8rem;
    border-top: 2px solid #1D2435;
}
.main{
    flex: 1;
    min-height: 0;
    display: flex;        
    flex-direction: column;
    overflow: hidden;     
}
.chat{
    background-color: #0D1321;
    width: 80%;
    height: 4rem;
    border: 2px solid #121825;
    outline: none;
    box-sizing: border-box;
}
.chat:focus-within{
    outline: #3C83F6 solid 2px;  
}
.message-window{
    flex: 1;
    min-height: 0;
    overflow-y: auto; 
}
.right-section{
    flex: 1;
    min-height: 0;
    display: flex;        
    flex-direction: column;
    overflow: hidden;     
}